/* 관리자 페이지 HEADER 영역 */
#admin-container{width: 100%;}
#admin-container .admin-top-time{display:flex; justify-content:space-between; align-items:center; padding:10px; border-bottom:1px solid #c6c6c6;}
#admin-container .admin-top-time ul li{float:left; padding: 0 7px;}
#admin-container .admin-top{display:flex; justify-content:space-between; align-items:center; padding:10px; border-bottom:1px solid #c6c6c6;}
#admin-container .admin-top ul li{float:left; padding: 0 7px;}
#admin-container .admin-top li p{margin-top:24px;}
#admin-container .admin-top img{width:80px; height:60px;}

@media screen and (max-width:480px){
    .admin-container .admin-top-time #livetime{font-size:12px;}
    }

/* 관리자 페이지 SECTION 영역 */
.admin-sidebox {background-color: #fff; padding: 10px; display: flex; gap: 10px; height: 824px; flex-direction: row;}
.admin-sidebar,
.admin-box-contents {background-color: rgba(0,0,0,0.1); padding: 20px;}
.admin-sidebar {width: 150px; flex-shrink: 0;}
.admin-box-contents {flex-grow: 1;}