/* 최상단 SNS 이미지 */
.top-wrap{display:flex; justify-content:end; align-items:center; border-bottom:1px solid #c6c6c6; padding:7px; background-color:#fff; z-index:999;}
.top-wrap li{float:left; padding: 3px 10px 3px 10px;}
.top-wrap li::after{content:"|"; margin-left:15px;}
.top-wrap li:last-child::after{content:"";}
.top-wrap .top-sns li{display:flex; align-items:center;}
.top-wrap .top-sns img{width:25px; height:25px;}

@media screen and (max-width:480px){
	.top-wrap li{float:left; padding: 3px 8px 3px 0;}
	.top-wrap li::after{content:"|"; margin-left:10px;}
}

/* 공통헤더 로고/메뉴/로그인 */
.header-wrap{display:flex; justify-content:space-between; align-items:center; border-bottom:1px solid #c6c6c6; padding:10px 50px; position:sticky; top:0; background-color:#fff; z-index:999;}
.header-wrap .header-logo img{width:100px; height:80px;}
.header-wrap .header-content{height:100%; margin-left:8.5%;}
.header-wrap .header-content li{float:left; padding:15px 40px;}
.header-wrap .header-content li.on{color:#c30;font-weight:700;background:#fff;border-bottom:solid 1px #fff;position:relative}
.header-wrap .header-login li{float:left; padding-left:20px;}
.header-wrap .header-login .welcome li{margin-top:7px;}
.header-wrap .menu_btn, .close_btn{display:none;}

@media screen and (max-width:1400px){
	.header-wrap .header-login{display:none;}
	.header-wrap .close_btn{display:block;}
	.header-wrap .close_btn img{width:35px; height:35px;}
	.header-wrap .menu_btn{position:absolute; right:20px; display:block;}
	.header-wrap .menu_btn img{width:35px; height:35px;}	
	.header-content{display: none;}
	.header-content{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0,0,0,0.7)}
	.content-wrap{position: absolute; top: 50%; left: 50%; margin: -82px 0 0 -35px;}
	.content-wrap li{padding:10px; list-style: none;}
	.content-wrap a{display: inline-block; color: #fff; text-decoration: none;}
	.close_btn{text-align: right;}
	.close_btn a{display: inline-block; color: #fff; margin: 10px;}	
}

@media screen and (max-width:1048px){
}

@media screen and (max-width:480px){
}

/* USER 로그인 TABLE */
.login_table_wrap {width:50%; margin:0 auto; padding-top:50px;}
.login_table_wrap .login_table {border: 1px #c9c9c9 solid; font-size: .9em; box-shadow: 0 2px 5px rgba(0,0,0,.25); width: 100%; border-collapse: collapse; border-radius: 5px; overflow: hidden;}
.login_table_wrap .login_table thead {font-weight: bold; color: #fff; background: #666666;}
.login_table_wrap .login_table td, th {padding: 15px 15px; vertical-align: middle;}
.login_table_wrap .login_table td {border-bottom: 1px solid #c6c6c6;}
.login_table_wrap .login_table td:nth-child(odd) {width:15%; text-align:center; border-right:1px solid #c6c6c6;}
.login_table_wrap .btn-box{position:relative; width:100%; height:auto; line-height: 3; padding: 20px 0;}
.login_table_wrap .login-btn-wrap{display:flex; justify-content:center;}
.login_table_wrap .search-btn-wrap{display:flex; justify-content:center;}

@media screen and (max-width:768px){
	.login_table_wrap {width:90%; margin:0 auto; padding-top:50px;}
}

/* USER 회원가입 TABLE */
.register_table_wrap {width:50%; margin:0 auto; padding-top:50px;}
.register_table_wrap .register_table {border: 1px #c9c9c9 solid; font-size: .9em; box-shadow: 0 2px 5px rgba(0,0,0,.25); width: 100%; border-collapse: collapse; border-radius: 5px; overflow: hidden;}
.register_table_wrap .register_table thead {font-weight: bold; color: #fff; background: #666666;}
.register_table_wrap .register_table td, th {padding: 15px 15px; vertical-align: middle;}
.register_table_wrap .register_table td {border-bottom: 1px solid #c6c6c6;}
.register_table_wrap .register_table td:nth-child(odd) {width:15%; text-align:center; border-right:1px solid #c6c6c6;}
.register_table_wrap .register-wrap{display:flex; justify-content:center; padding: 20px 0;}

@media screen and (max-width:768px){
	.register_table_wrap {width:90%; margin:0 auto; padding-top:50px;}
}


/* footer */
.footer{padding-top:200px;}